<div id="mainview" class="container-fluid">
    <div id="paperlist" >
        <button id="add-paper-button" style="margin-left: 10px; margin-top: 10px;" mat-button (click)="openNewPapersDialog()">Add Paper</button>
        <br>
        <input id="searchbar" [(ngModel)]="query" (ngModelChange)="filterList()">
        <div style="max-height: 800px;
        overflow: auto;">
            <app-paperitem
                *ngFor="let onePaper of currentPapers; index as i"
                [index]="i"
                [onePaper]="onePaper"
                (deleteRequest)="deletePaper($event)"
            ></app-paperitem>
        </div>
    </div>
    <app-graphview id="graphview" #agraphview [allPapers]="allPapers"></app-graphview>
</div>
