#mainview {
  display: flex;
  flex-grow: grow;
  height: 92%;
}

#paperlist {
  width: 30%;
  float: left;
  border: 2px solid cornflowerblue;
  border-top: 0px;
}

#graphview {
  width: 70%;
  float: left;
  border: 2px solid cornflowerblue;
  border-top: 0px;
  border-left: 0px;
  display: flex;
}

.mat-button {
  border: 2px solid cornflowerblue;
  background-color: cornflowerblue;
  color: white;
  padding: 1px;
  margin-bottom: 10px;
}

#searchbar {
  width: 100%;
}
