#dialog-content-wrapper {
  width: 100%;
  height: 50%;
  display: grid;
  color: black;
  background-color: white;
}

#dialog-title {
  font-size: 22px;
}

#dialog-footer {
  justify-self: right;
  align-self: center;
}

#submit-paper-button {
  margin-right: 30px;
  background-color: cornflowerblue;
  color: white;
}

#dialog-cancel-button {
  background-color: cornflowerblue;
  color: white;
}

#radio-button-key {
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-text {
  width: 100%;
  margin-bottom: 10px;
}

textarea {
  margin-bottom: 10px;
  width: 100%;
  height: 250px;
}
