<div id="dialog-content-wrapper">
    <header id="dialog-header">
        <h1 id="dialog-title">Add New Paper</h1>
    </header>
    <section id="dialog-body">
        <input id="paper-url-input" class="input-text" placeholder="Add Paper URL only from arxiv.org" [(ngModel)]="data.url" (change)="onEntered()">
        <textarea placeholder="Add bibtex manually or let it be extracted automatically" [(ngModel)]="data.bibtex"></textarea>
    </section>

    <footer id="dialog-footer">
        <button id="dialog-cancel-button" mat-raised-button (click)="closedialog()">
            Go back
        </button>
        <button id="submit-paper-button" mat-raised-button (click)="confirm()">
            Submit
        </button>
    </footer>
</div>
