<div class="topbar-list" >
  <span style="font-size: 20px;  line-height: 33px;">My Liked Papers:</span>
  <!-- <button mat-button [disabled]="(!likedPaperSelected && !paperSelected)" (click)="bibtexExport(Papers, likedPapers)">Bibtex export</button> -->
  <button mat-button [disabled]="!likedPaperSelected" (click)="removeLike(likedPapers)">Remove Like</button>
</div>
<mat-selection-list #likedPapers style="margin-left: 1%;">
  <mat-list-option id="list-option" class="list-container" *ngFor="let likedPaper of allLikedPapers" [value]="likedPaper" style="width:31%; display: inline-block; margin: 1%;" (click)="changedLikedList(likedPapers)">
    <div class="trim-info" >
      <span>Title: {{likedPaper.title}}</span><br>
      <span>URL: {{likedPaper.url}}</span><br>
      <span>Authors: <span *ngFor="let author of likedPaper.authors">{{author.name}}; </span></span>
    </div>
  </mat-list-option>
</mat-selection-list>

<div class="topbar-list" >
  <span style="font-size: 20px;  line-height: 33px;">All Papers:</span>
  <button mat-button [disabled]="!paperSelected"  (click)="like(Papers)">Like Paper</button>
</div>

<mat-selection-list #Papers style="margin-left: 1%;" >
  <mat-list-option id="list-option" class="list-container" *ngFor="let Paper of allPapers" [value]="Paper" style="width:31%; display: inline-block; margin: 1%;" (click)="changedList(Papers)" >
    <div class="trim-info" >
      <span>Title: {{Paper.title}}</span><br>
      <span>URL: {{Paper.url}}</span><br>
      <span>Authors: <span *ngFor="let author of Paper.authors">{{author.name}}; </span></span>
    </div>
  </mat-list-option>
</mat-selection-list>
