.mat-toolbar{
    background-color: cornflowerblue;
    color: white;
  }
  .mat-button{
     color: white;
  }
  .spacer{
    flex: 1 1 auto;
  }

  .active-list-item {
    color: #ff009d !important; /* Note: You could also use a custom theme */
  }