<ngx-graph
  class="chart-container"
  [view]="[1000, 1000]"
  [links]="[
    {
      id: 'a',
      source: 'first',
    target: 'second',
      label: 'is parent of'
    }, {
      id: 'b',
      source: 'first',
      target: 'third',
      label: 'custom label'
    }, {
      id: 'c',
      source: 'first',
      target: 'fifth',
      label: 'custom label'
    }, {
      id: 'd',
      source: 'eigth',
      target: 'seventh',
      label: 'custom label'
    }, {
      id: 'e',
      source: 'seventh',
      target: 'sixth',
      label: 'custom label'
    }, {
      id: 'b',
      source: 'fourth',
      target: 'sixth',
      label: 'custom label'
    }, {
      id: 'b',
      source: 'fourth',
      target: 'first',
      label: 'custom label'
    }
  ]"
  [nodes]="[
    {
      id: 'first',
      label: 'A'
    }, {
      id: 'second',
      label: 'B'
    }, {
      id: 'third',
      label: 'C'
    }, {
      id: 'fourth',
      label: 'D'
    }, {
      id: 'fifth',
      label: 'E'
    }, {
      id: 'sixth',
      label: 'F'
    }, {
      id: 'seventh',
      label: 'G'
    }, {
      id: 'eigth',
      label: 'H'
    }
  ]"
>
</ngx-graph>