/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-dialog-container#new-paper-component {
  border: 3px solid white;
  border-radius: 11px;
  background-color: white;
}

.mat-pseudo-checkbox {
  background: cornflowerblue;
  border-color: cornflowerblue;
  border: 1cm;
}

.mat-list-option:hover {
  background: rgb(169, 169, 169);
}

.list-tooltip {
  font-size: 12px !important;
  width: 300px;
  white-space: pre-line;
}

.icon-tooltip {
  font-size: 12px !important;
}

.mat-icon {
  vertical-align: middle;
}
