<div *ngIf="users$ | async as users">
  <div class="topbar-list" >
    <span style="font-size: 20px;  line-height: 33px;">All Users:</span>
    <button mat-button [disabled]="!userSelected" (click)="delete(Users)">Delete User</button>
  </div>

  <mat-selection-list #Users style="margin-left: 1%;" >
    <mat-list-option id="list-option" class="list-container" *ngFor="let user of users" [value]="user" style="width:31%; display: inline-block; margin: 1%;" (click)="changedList(Users)">
      <div class="trim-info">
        <span>ID: {{user.id}}</span><br>
        <span>Name: {{user.username}}</span><br>
      </div>
    </mat-list-option>
  </mat-selection-list>
</div>
